name: Build website

on:
  workflow_call:
    secrets:
      github-token:
        required: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      # NOTE: If Publishing to GitHub Pages, set the permissions correctly.
      - name: Publish to GitHub Pages (and render)
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }} # this secret is always available for github actions


